@model List<Projekt.Models.Bokning>
    @{
        ViewData["Title"] = "Visa";
    }

   

    <table border="1">
        <tr>
            <th> Tvättprogram </th>
            <th> Namn</th>
            <th> Telefon </th>
            <th> Email </th>
            <th> Tid </th>
            <th> Datum </th>

        </tr>
        @foreach (var bokning in Model)
        {
    <tr>
        <td>@Html.DisplayFor(m => bokning.Tvättprogram)  </td>
        <td>@Html.DisplayFor(m => bokning.Namn)  </td>
        <td>@Html.DisplayFor(m => bokning.Telefon)  </td>
        <td>@Html.DisplayFor(m => bokning.Email)  </td>
        <td>@Html.DisplayFor(m => bokning.Tid)  </td>
        <td>@Html.DisplayFor(m => bokning.Datum)  </td>
        <td>@Html.ActionLink("Lägg till", "Index", "Boka")  </td>
       



    </tr>
        }
    </table>
